[2021-10-04 03:45] vinzvinci opened #2 "[FEATURE] Responsive Website 2.0"
https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Untitled?node-id=0%3A1

## Tech Stack to use:
- HTML
- Tailwind CSS
- JavaScript
- Suggest JavaScript framework/libraries

## To Do
- Implement the design to code, try to use GitHub pages or you can suggest here

[2021-10-04 10:48] vinzvinci opened #1 "FEATURE] Responsive Website 2.0"
https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Untitled?node-id=0%3A1

## Tech Stack to use:
- HTML
- Tailwind CSS
- JavaScript
- Suggest JavaScript framework/libraries

## To Do
- Implement the design to code, try to use GitHub pages or you can suggest here

### Copy issue: https://github.com/web3community/app/issues/1#

[2021-10-04 10:52] vinzvinci commented on #1
Invalid

[2021-10-04 10:52] #1 closed

[2021-10-04 11:23] mkubdev commented on #2
Hi @web3community ! 🎉🎃

To achieve this issue, you need to clone this repos first, and then make a PR with your changes.

To deploy the website, you can use :
- Any Github Actions deploy script, you can PR yours.
- [Vercel](https://vercel.com/)
- [Netlify](https://www.netlify.com/)

⚡ You should **_only use_** **Tailwind CSS** class.
⚡ You can use any static framework you want (Gatsby, Eleventy, V

[2021-10-04 12:31] vinzvinci commented on #2
The thing is, who will start the issue? Please comment below

[2021-10-04 12:36] krishguptadev commented on #2
@vinzvinci Assign me, I can do this...

[2021-10-04 12:37] vinzvinci commented on #2
Okay go first @krishguptadev

[2021-10-05 12:34] vinzvinci commented on #2
Hi @chandresh1339 @NarayanBavisetti,

the coding is started, it is best to chat with the contributors in [discord](https://discord.gg/pb4PA5kdRe), so u can take part.

[2021-10-05 12:36] krishguptadev commented on #2
@chandresh1339 @NarayanBavisetti I am gonna make a few issues, That everyone can work upon!

[2021-10-05 13:23] #2 closed

[2021-10-05 18:15] mkubdev opened #7 "[Fix] : update the deploy script 🚀"
Hi!

We need to fix the github action to deploy the website on https://web3community.github.io/devprotocol.xyz/ 🧐

[2021-10-06 01:58] #7 closed

[2021-10-06 03:43] krishguptadev opened #8 "[FEAT]: OpenGraph"
Use the https://ogp.me/ to create social embeds for the website

[2021-10-06 03:43] krishguptadev opened #9 "[FEAT]: SEO"
SEO can be certainly improved on the website. Add meta description and meta tags to the website

[2021-10-06 03:44] krishguptadev opened #10 "[BUG]: Duplicate Class"
https://github.com/web3community/devprotocol.xyz/blob/main/src/layouts/Default.astro#L28 as both rounded and rounded-lg class but we only need rounded-lg

[2021-10-06 03:53] krishguptadev opened #13 "[FEAT]: OGP Banner"
We need a image banner for open graph protocol (the one that will appear when we share the website on discord/twitter/other)

[2021-10-06 04:11] #9 closed

[2021-10-06 04:11] #10 closed

[2021-10-06 15:11] krishguptadev opened #14 "[BUG]: Black bg of the logos"
![image](https://user-images.githubusercontent.com/91655303/136231875-b2ec072f-7a2b-425b-9b29-57a317c8f5c8.png)

[2021-10-06 15:22] sirinoks commented on #14
I'm not sure what the actual issue is. Is it that Monex Ventures supposed to have a black background, or every image with a black backgroud should have a transparent one?

[2021-10-06 15:29] sirinoks commented on #14
Oh, lol, okay. It's barely any work at all :o

[2021-10-06 15:40] krishguptadev commented on #14
@sirinoks Do you want to work on this? I'll assign you 🙂

[2021-10-06 15:47] sirinoks commented on #14
@krishguptadev Yes!

[2021-10-06 16:13] Panquesito7 opened #19 "[FEATURE] Add a favicon"

[2021-10-06 16:14] krishguptadev commented on #19
I would like to work on this

[2021-10-06 16:34] krishguptadev commented on #19
Yeah, I leave it to hacktoberfest participants... If not assigned to someone in by tomorrow 1pm IST, I can work on it 🤔

[2021-10-06 16:55] calvo111979 commented on #19
Hi, can I work on this?

[2021-10-06 17:00] Panquesito7 commented on #19
Feel free to work on this! 🙂

[2021-10-06 23:08] Panquesito7 opened #22 "[FEATURE] Add contributing guidelines"
### Detailed description

Add detailed contributing guidelines to the repository. You can
take a reference from the [`web3community.github.io`](https://github.com/web3community/web3community.github.io/blob/main/CONTRIBUTING.md) repository. 🙂

### Context

This is useful when first-timers want to contribute to our project or anyone who wants to.

### Possible implementation

I don't think this appl

[2021-10-07 02:47] Panquesito7 commented on #22
I think we should better let others work on this. If no one works on this and a week passes, you can work on it. Let's see what the other maintainers think, though. @mkubdev, @vinzvinci, @shuklaritvik06.

[2021-10-07 02:58] vinzvinci opened #23 "[FEATURE] Add documentation in README"
### Detailed description

Please add documentation in our README with some installation needed

### Context

This is important, this allows others to understand what we are working

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-07 03:15] vinzvinci opened #24 "[FEATURE] Complete the footer section"
### Detailed description

https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Dev-Protocol-design?node-id=0%3A1

### Context

Can someone work with this? You can look at the figma

![image](https://user-images.githubusercontent.com/73097560/136314739-55b7df55-bfe1-421a-8589-5c7535c6d4ff.png)

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

[2021-10-07 03:22] inomag commented on #22
Hi @Panquesito7, Can I work on this?

[2021-10-07 03:25] vinzvinci commented on #22
Feel free @inomag

[2021-10-07 03:36] krishguptadev commented on #14
@vinzvinci I could get these images correctly from the file:

![monexventures](https://user-images.githubusercontent.com/91655303/136316316-19f5f680-2770-4311-b793-9cf9957d46d2.png)
![msstartups](https://user-images.githubusercontent.com/91655303/136316319-51006b43-3880-4dce-ba21-8c1048d20fd8.png)

[2021-10-07 03:37] krishguptadev commented on #24
@vinzvinci The could you also share the links of the social media platforms here

[2021-10-07 03:39] krishguptadev commented on #13
Is this good enough to be added?

![It's Time to Tokenize Open Source Software](https://user-images.githubusercontent.com/91655303/136316469-c638b122-89bd-4f56-ae0a-5bb62235a849.png)

[2021-10-07 03:40] vinzvinci commented on #13
Looks great @krishguptadev

[2021-10-07 03:41] vinzvinci commented on #13
Can u give space **Dev Protocol**?

[2021-10-07 03:41] Himanshu664 commented on #24
@vinzvinci I want to work please assign

[2021-10-07 04:20] vinzvinci opened #27 "[FEATURE] Complete the slider section and put their description"
### Detailed description

View link https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Dev-Protocol-design?node-id=0%3A1

Please put their description as well

**HiDE**
HiDE is a decentralized blogging platform from Japan. In Japan, blogging projects like Steem It did not last, but they used the Dev Protocol to monetize blog posts and create a sustainable reward distribution model for users. They a

[2021-10-07 06:00] krishguptadev commented on #8
This can be only done after #13 is fixed.

[2021-10-07 07:27] krishguptadev commented on #14
I applied the color that was present in the design, ie light gray not sure what could we change more?

[2021-10-07 07:31] vinzvinci commented on #14
Wdym?

I think it didn't apply yet. The bg shows black. Pls change it to **#E5E5E5**

[2021-10-07 08:32] vinzvinci commented on #14
That's weird, try to use a white background for awhile.

[2021-10-07 08:36] krishguptadev opened #29 "[FEATURE] Build the dynamic medium blog post section"
### Detailed description

Write code that fetches all the blog posts by devprotocol on medium, Then converts it into markup styled with Tailwind CSS

To be implemented in [vue](https://vuejs.org) or [astro](https://astro.build)

Styling to be done with [Tailwind CSS](https://tailwindcss.com)

Dev Protocol Medium: https://medium.com/devprtcl

RSS Feed: https://medium.com/feed/devprtcl

Design to be

[2021-10-07 15:14] krishguptadev commented on #24
afaik Looks like the assignee has unassigned them and decided to not work on this issue (they deleted the comment too). but np, I can be always assigned if the issue is on hold from a while

[2021-10-07 21:05] sirinoks commented on #14
Done in [6a89e35](https://github.com/web3community/devprotocol.xyz/pull/30/commits/6a89e35f51190b29884503838852b195b1fb17ef)
Thank you for an opportunity!

[2021-10-08 02:48] krishguptadev opened #31 "[FEATURE] Add GitPod Support"
### Detailed description

Add a gitpod config to make the process of setting up the app for development faster.

### Context

It would setup a faster and more efficient contributing workflow

### Possible implementation

Read the [docs](https://www.gitpod.io/docs/config-gitpod-file).

Borrow the sample config from [here](https://raw.githubusercontent.com/EddieHubCommunity/LinkFree/main/.gitpod.yml

[2021-10-08 02:51] #31 closed

[2021-10-08 03:26] #23 closed

[2021-10-08 03:38] gptkrsh opened #34 "[FEAT] Config tailwind to use the new fonts"
### Detailed description

Use the fonts declared in the design

### Context

-

### Possible implementation

Add this to the stylesheet:

[code]

Then config tailwind for this: https://tailwindcss.com/docs/font-family#font-families

Also update the class names if needed

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-08 05:02] #34 closed, assigned to suitupstan

[2021-10-08 11:31] rizastoday commented on #24
can i get link for social medias ?

[2021-10-08 12:59] #24 closed

[2021-10-08 13:15] gptkrsh opened #40 "[BUG] Footer looks far different from design"
### Description

Footer doesn't follow the design schema

### Expected behavior

-

### Actual behavior

-

### Possible fix

-

### Steps to reproduce

-

### Context

-

### Additional information

Was introduced in #39

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-08 16:38] Panquesito7 commented on #40
Next time, please provide more information about the bug, so other maintainers and people can help. 🙂

[2021-10-08 17:29] Panquesito7 opened #44 "[BUG] The Miraise logo is stretched"
### Description

The title says it all.

### Expected behavior

The image shouldn't be stretched.

### Actual behavior

The image is stretched.

### Possible fix

_No response_

### Steps to reproduce

1. Go to the website.
2. Go almost to the bottom
3. Check the Miraise logo, and you'll see it looks stretched.

### Context

This bug makes the logo look unprofessional and bad, IMO.

### Additional

[2021-10-09 01:24] vinzvinci commented on #29
any update with this?

[2021-10-09 03:06] Sukriti-sood commented on #29
@vinzvinci Sorry, Still no updates. Will update you soon.

[2021-10-09 03:12] vinzvinci opened #47 "[FEATURE] Add Dapps section"
### Detailed description

Link: https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Dev-Protocol-design?node-id=0%3A1

![image](https://user-images.githubusercontent.com/73097560/136642169-cd6199e5-d921-4888-aa95-f08ff1dc6f69.png)

Please remove this
![image](https://user-images.githubusercontent.com/73097560/136642188-e86e83f5-a040-42ef-8b33-695bd2da2b13.png)

### Context

The changes made by the o

[2021-10-09 12:59] vinzvinci commented on #40
The owner of the Dev Protocol wants this :) they are also in our community ^^

![image](https://user-images.githubusercontent.com/73097560/136658748-486918cb-6f00-4ca8-9750-73ef003a1bea.png)

[2021-10-09 13:00] krishguptadev commented on #40
Can I get the design file?

[2021-10-10 04:38] #44 closed

[2021-10-10 04:49] vinzvinci commented on #47
These are the future application, just build static. here's the design https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Dev-Protocol-design?node-id=0%3A1

[2021-10-10 07:32] vinzvinci commented on #27
Closed because of this changes #47

[2021-10-10 07:34] vinzvinci commented on #27
Sorry wrong, I thought this was the same issue as our current issue.

[2021-10-10 07:42] vinzvinci opened #51 "[Bug] Responsive Website"
### Detailed description

Hi everyone, our current website isn't responsive.

### Context

It will be cool if this website is responsive, much better to look to other devices

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-10 08:42] 0rGaan1c commented on #51
Alright, I will woking on it.

[2021-10-10 09:27] 0rGaan1c commented on #40
Can I work on this?

[2021-10-10 15:59] #40 closed, assigned to 0rGaan1c

[2021-10-11 00:19] vinzvinci commented on #47
🆙

[2021-10-11 11:39] #29 closed

[2021-10-11 11:45] vinzvinci opened #56 "[FEATURE] Improve the Blog design"
### Detailed description

Wrong design:
![image](https://user-images.githubusercontent.com/73097560/136784542-28773a29-e821-4f74-9217-c307af872481.png)

Correct design:
![image](https://user-images.githubusercontent.com/73097560/136784648-b7d9d743-2797-446e-bcb3-e0e5626f6f4d.png)

You can see the Figma design 👉 [here](https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Dev-Protocol-design?node-id=0%

[2021-10-11 15:33] #56 closed, assigned to suitupstan

[2021-10-12 10:45] krishguptadev commented on #27
A component can be made in vue if you prefer, then I'll add it to the page using partial hydration

[2021-10-12 12:13] vinzvinci commented on #27
Nice @ewatch, we really needed this one tonight but we are new to it xD. I'll assign this to you @ewatch. Feel free to join us on discord for continuous conversation

[2021-10-13 03:59] vinzvinci opened #63 "[FEATURE] Improve the slider section"
### Detailed description

Krish is suggesting improve the slider section

### Context

![image](https://user-images.githubusercontent.com/73097560/137087460-0b5a69e8-d52c-4630-bc65-2ce631fc9f89.png)
 +
reduce the white space in mobile and tablet view
![image](https://user-images.githubusercontent.com/73097560/137065114-d07de2c1-4ff0-46c8-a8a9-0f4bdd17926a.png)
+
try to adopt the alignment of logo

[2021-10-13 05:48] vinzvinci commented on #47
This issue is open again

[2021-10-13 06:29] Intelligent-Mosiac commented on #47
@krishguptadev  You can take it up.

[2021-10-13 07:23] krishguptadev commented on #63
On another note I think we do not need that fade animation the counter would be enough

[2021-10-13 07:32] vinzvinci commented on #63
thanks, I updated the screenshot above ☝️

[2021-10-13 07:42] SyedFasiuddin opened #65 "[FEATURE] nav bar changes"
### Detailed description

- Make the nav bar opaque
- Make the join button slightly better
- Add a line at the bottom of navbar

### Context

This change will make the website look better from a design perspective

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-13 07:43] krishguptadev commented on #65
I'D love to work upon this :)

[2021-10-13 08:52] SyedFasiuddin opened #67 "[BUG] The backed by section behaves weiredly when passing through navbar"
### Description

When we scroll and get to the backed by section, it appears to be merged with the nav bar

### Expected behavior

It should just go beneath the navbar

### Actual behavior

It appears as if it is merging with the navbar

### Possible fix

_No response_

### Steps to reproduce

Just scroll through the "backed by" section

### Context

It will effect the the people visiting the webs

[2021-10-13 10:11] vinzvinci commented on #67
Cool cool, thanks for raising this issue

[2021-10-13 10:29] vinzvinci opened #68 "[FEATURE] Add URL for Vyper, HiDE, Sindre"
### Detailed description

Vyper - https://stakes.social/0x90168f9Ba07B95f629f8b77F789d46A549d6470F
HiDE - https://stakes.social/0x528010540517Dd3B708d8Ff7036f841FEA0135b2
Sindre - https://stakes.social/0x44d871aebF0126Bf646753E2C976Aa7e68A66c15

### Context

Pretty important to know more about their project

### Possible implementation

When we hover the **picture** or the **title**, we can see th

[2021-10-13 10:44] SyedFasiuddin commented on #67
I would have done this btw

[2021-10-13 10:52] #65 closed

[2021-10-13 12:54] #47 closed

[2021-10-13 12:54] #67 closed

[2021-10-14 04:48] #68 closed

[2021-10-15 03:03] vinzvinci opened #77 "[BUG] Image isn't balance with other image"
Our deployed website: https://devprotocol.netlify.app/

![image](https://user-images.githubusercontent.com/73097560/137425257-32d24686-c2e5-4003-b068-6dbce737d920.png)

---

The image should be balance just like here 👉 https://devprotocol.xyz/

![image](https://user-images.githubusercontent.com/73097560/137425714-768bce50-2e55-451f-91b5-524f9eaf95c0.png)

[2021-10-15 06:09] shreyaansjain06 opened #78 "[FEATURE] Improvement in nav bar"
### Detailed description

- Logo need a black circular background so that it is visible clearly
- There is no hover effect in nav bar components

### Context

It will enhance the user's experience

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-10-15 06:57] vinzvinci commented on #78
I think we don't need the black circular background to that logo 🤔

[2021-10-15 07:07] krishguptadev commented on #78
I'll add the hover effects, we don't need something black or something.

[2021-10-15 11:56] #77 closed, assigned to shreyaansjain06

[2021-10-15 17:46] Panquesito7 opened #82 "[BUG] Image's size is bigger"
### Description

The size of the image is different from the other ones (see the screenshot).

![image](https://user-images.githubusercontent.com/51391473/137529063-2ca54f13-b68e-4c22-848c-f242132dc2a8.png)

### Expected behavior

The image's size should be the same as the other ones.

### Actual behavior

The image's size is different from the other ones.

### Possible fix

_No response_

### Ste

[2021-10-20 09:38] ZaidKhan2002 opened #84 "[BUG] Tablet size doesn't have toggle switch"
### Description

On tablet size the toggle switch is not there so we can't se any option for creators, developers and patrons.

### Expected behavior

There should be a toggle switch present for tablet size screens.

### Actual behavior

There is no toggle switch

### Possible fix

_No response_

### Steps to reproduce

Fix the code in Navbar

### Context

<img width="784" alt="Screenshot 2021-10-

[2021-10-28 16:29] Panquesito7 opened #87 "[FEATURE] Add a dark mode to the website"
### Detailed description

I think a dark mode should be added to the website. I currently use Dark Reader to make the websites dark, but for Dev Protocol, it doesn't look that good, IMO.

![image](https://user-images.githubusercontent.com/51391473/139296856-9f99fe7b-2c1d-4051-9464-286565885340.png)

### Context

Many users do not like the light mode, they prefer dark mode (like me 😂), so I think i

[2021-10-29 18:46] vinzvinci commented on #63
yes @the-veshh

[2021-10-31 13:39] krishguptadev commented on #63
@the-veshh just a slight reminder, PRs merged/approved after 12am GMT-12 would not be counted for Hacktoberfest 🙂

[2021-11-01 00:45] vinzvinci opened #90 "[FEATURE] Use the prettier plugin"
### Detailed description

Aggre asked this before to add **Prettier** plugin to automatically format the code

### Context

CC @krishguptadev

### Possible implementation

https://github.com/snowpackjs/prettier-plugin-astro

### Additional information

![image](https://user-images.githubusercontent.com/73097560/139607470-f9c1f9e3-fc0d-4b66-a109-0ab72dcce7db.png)

### Code of Conduct

- [X] I agree

[2021-11-01 02:26] krishguptadev commented on #90
Buil code should not be formatted for performance reasons, I could add it to the src if you like 🙂

[2021-11-01 02:31] vinzvinci commented on #90
Okay if it will affect the performance @krishguptadev, let's not add it.

[2021-11-01 02:37] krishguptadev commented on #90
So add it to the source or not?

[2021-11-01 02:39] vinzvinci commented on #90
If this was added to the source, it won't affect much right?

[2021-11-01 02:56] krishguptadev commented on #90
Would enforce a code style, that's it

[2021-11-01 02:59] vinzvinci commented on #90
Okay, you can add it.

On Mon, 1 Nov 2021 at 10:57, Krish Gupta ***@***.***> wrote:

[2021-11-01 03:03] krishguptadev commented on #90
The [Plugin](https://github.com/snowpackjs/prettier-plugin-astro) is WIP, so we need to wait a while before it is prod released.

[2021-11-05 06:37] krishguptadev opened #102 "Update for developers nav link"
We have the new developers page, so I believe the navbar like for developers should be rewritten to link to /developers

[2021-11-05 06:50] #102 closed

[2021-11-05 17:52] Panquesito7 opened #106 "[FEATURE] Use loaded SVG files in the footer"
### Detailed description

Instead of using in-HTML SVGs, I think we should load the SVGs from a file using the `img` tag (this for example can be seen in the footer file).

https://github.com/web3community/devprotocol.xyz/blob/cd851e4900c16e366435ce7203e71ae59333de3f/src/components/Global/Footer.astro#L24-L36

This can also be seen in other parts of the code in that file.

### Context

It would ma

[2021-11-06 12:33] vinzvinci opened #107 "[FEATURE] Build the Use Cases section"
### Detailed description

![image](https://user-images.githubusercontent.com/73097560/140609766-d271a2f4-6790-4f3f-b8c7-5a30887612a1.png)

### Context

you can see the design here: https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Dev-Protocol-design?node-id=0%3A1

### Possible implementation

Use the same font Whyte Inktrap

### Additional information

_No response_

### Code of Conduct

- [X] I

[2021-11-08 04:48] vinzvinci commented on #107
can u finish this @krishguptadev?

[2021-11-08 06:41] vinzvinci commented on #63
No updates from @the-veshh 😢, will unassigned this and maybe someone can take the issue

[2021-11-08 06:44] shuklaritvik06 opened #110 "[FEATURE] Replace the design in DEV Token section"
### Detailed description

### Current
![ss](https://user-images.githubusercontent.com/72812470/140695938-8ba7143d-38dd-4f83-8e75-4c00ecdaf03e.png)
### Wanted
![Wanted](https://user-images.githubusercontent.com/72812470/140695958-c314cd3e-ee27-45e4-bc3b-dfd759b88732.png)

### Context

You can see the design here - https://www.figma.com/file/rmCKKIsjSWCH0q6lObDQC8/Dev-Protocol-design?node-id=0%3A1

[2021-11-08 07:08] #107 closed

[2021-11-08 07:08] vinzvinci opened #111 "[FEATURE] Step by Step Onboarding section"
### Detailed description

Step by Step Onboarding

Step 1
In order for you to register (or tokenize) your Open Source Project to Dev Protocol, you need to go through a registration procedure for Stakes.social. You’ll need a wallet to register, so you must have one beforehand. You can use any wallet provided there like MetaMask to log in on Stakes.social.

Step 2
Click the “Sign in” button located

[2021-11-08 07:10] vinzvinci opened #112 "[FEATURE] Step by Step Staking section"
### Detailed description

Step by Step Staking

Step 1
Staking is the act of actively setting aside your DEV tokens in your Wallet to deposit them in your favorite Creator pool on stakes.social. To buy DEV Token, you need an ETH on your wallet to convert it to $DEV.

Step 2
After you buy DEV Token, add the DEV token address in your wallet. You need to find a project that you like on Stakes.social.

[2021-11-09 12:17] #112 closed

[2021-11-09 12:17] #111 closed

[2021-11-09 18:28] Panquesito7 opened #120 "[FEATURE] Add a contact page"
### Detailed description

We should add a contact page where we will add our contact platforms (such as mail, Discord, forum, etc.).

### Context

We can use it for the [config issue template](https://github.com/web3community/devprotocol.xyz/blob/main/.github/ISSUE_TEMPLATE/config.yml) (which is not accepting emails, no idea why) so people can contact us easier and faster. 🙂

### Possible implemen

[2021-11-10 02:00] vinzvinci opened #123 "[BUG] navbar and footer bug in mobile view"
### Description

![image](https://user-images.githubusercontent.com/73097560/141035542-72899b8e-4002-4925-b36f-8d5d5ae5545d.png)

![image](https://user-images.githubusercontent.com/73097560/141035551-b871b18f-8b80-4049-9874-780afc905881.png)

### Expected behavior

I provided info. on what to change, please see the image

### Additional information

_No response_

### Code of Conduct

- [X] I agre

[2021-11-10 02:25] krishguptadev commented on #120
Do we have a figma design page for that @vinzvinci

[2021-11-10 02:26] vinzvinci commented on #120
Not available for now @krishguptadev

[2021-11-10 02:31] krishguptadev commented on #120
Shall we wait in that case?

[2021-11-10 02:53] vinzvinci commented on #120
Yes @krishguptadev

[2021-11-10 03:00] vinzvinci opened #124 "[BUG] 3 pages different placement"
### Problem subject

I would like the text and images to appear in the same place on all three screens of `for Creators`, `for Patrons`, & `for Developers`.

### Description

![image](https://user-images.githubusercontent.com/73097560/141041398-8d8e4b2c-e3d0-4086-94f2-5e8689e35723.png)

### Expected behavior/contents

The placement should not different

### Actual behavior/contents

_No response_

[2021-11-10 03:01] vinzvinci commented on #124
Can u help make these pages the same placement @krishguptadev?

[2021-11-10 03:01] vinzvinci commented on #123
Can u also help fix this @krishguptadev?

[2021-11-10 03:02] krishguptadev commented on #124
which one is wrong?

[2021-11-10 03:03] krishguptadev commented on #123
not sure about the nav (since I didn't yet see how it works), but can fix the image. I believe it is some unnessarcy margin

[2021-11-10 03:04] vinzvinci commented on #124
3 of them is different @krishguptadev

I think only align in this line? and same placement of the text and images

![image](https://user-images.githubusercontent.com/73097560/141042017-6b273745-a2c6-402a-bf83-e081d2479b1d.png)

[2021-11-10 03:36] krishguptadev commented on #124
navbar is set to `space-evenly` there is no way we can align something to it 😅

[2021-11-10 03:37] vinzvinci commented on #124
yeah I see, let's continue the suggestions here #125

[2021-11-10 08:54] vinzvinci commented on #123
I'll make new navbar in figma

[2021-11-10 08:55] krishguptadev commented on #123
The alignment is fixed right?

[2021-11-10 08:59] vinzvinci commented on #123
Yes @krishguptadev, I'll change the title

[2021-11-10 12:05] ZaidKhan2002 commented on #63
I would like to work on this issue

[2021-11-10 12:07] vinzvinci commented on #63
Sure, please do @ZaidKhan2002

[2021-11-10 17:36] Panquesito7 opened #127 "[BUG] Wrong Stakes.Social link for Vyper"
### Problem subject

_No response_

### Description

The link to Vyper's Stakes.Social profile is wrong. It leads you to Chalk's profile.

### Expected behavior/contents

Link to Vyper's Stakes.Social profile.

### Actual behavior/contents

The current link leads to Chalk.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-10 17:40] vinzvinci commented on #127
https://stakes.social/0x90168f9Ba07B95f629f8b77F789d46A549d6470F - here's the link for vyper

[2021-11-10 23:40] #127 closed

[2021-11-11 06:48] ZaidKhan2002 commented on #63
<img width="1183" alt="Screenshot 2021-11-11 at 12 15 49 PM" src="https://user-images.githubusercontent.com/71960989/141251060-620a9042-5eaf-457b-8c15-4ec12bddf8eb.png">

@vinzvinci is it ok ??

[2021-11-11 06:52] vinzvinci commented on #63
Yeah looks good @ZaidKhan2002

[2021-11-11 06:53] ZaidKhan2002 commented on #63
I tried to add some more padding-top but tailwind has some pre-defined padding size

[2021-11-11 07:21] vinzvinci commented on #63
Well, it looks good. Thanks for making PR @ZaidKhan2002

[2021-11-11 07:23] #63 closed

[2021-11-11 13:21] vinzvinci opened #131 "[FEATURE] Replace the dapps design to cards slider"
### Detailed description

We should change the dapps section design

### Current

![image](https://user-images.githubusercontent.com/73097560/141305138-282f087e-94dc-4506-a52f-33045db40e2d.png)

### Context

We think this feature is good
https://tailwindui.com/components/application-ui/lists/grid-lists#component-5d72b187beb968e12db89fe49f272b18

### Possible implementation

_No response_

### Addi

[2021-11-12 07:59] vinzvinci commented on #131
Would u like to continue this issue and create PR @MatteuSan?

[2021-11-12 11:33] vinzvinci opened #134 "[FEATURE] Change the navbar items"
### Detailed description

OVERVIEW | DAO | Community | Help | Launch App

**Overview**
| For Creators
| For Patrons
| For Developers
| [Roadmap](https://trello.com/b/oFu5uWJF/roadmap)

**DAO**
| [Voting Portal](https://govern.devprotocol.xyz/)

**Community**
| Forum
| Builders Program

**Help**
| FAQ
| Tutorials
| Documentation
| Code of Conduct

**Launch App** = Button for [Stakes.social](http://

[2021-11-12 19:16] AbhinavMV commented on #123
Hello i think this issue is fixed now. Navbar and footer issue was because of the image.
Please find below the screenshot.
Let me know if you can still replicate the issue. I would like to fix it. 😄
![image](https://user-images.githubusercontent.com/35369843/141522344-7b1a8b08-ec43-405b-8cbf-cbbc04209b0f.png)

[2021-11-12 19:21] vinzvinci commented on #123
Yeah, can u fix it @AbhinavMV?

the image size from that 3 pages should be the same.

[2021-11-12 19:21] Panquesito7 commented on #123
Glad to see you fixed it! Could you please create a PR, follow the instructions [**here**](https://github.com/web3community/devprotocol.xyz/blob/main/CONTRIBUTING.md), and make a PR. 🙂

[2021-11-12 19:25] AbhinavMV commented on #123
Reason for issue - image size improper
Fix already done and merged in #125
Please check again and let me know if issue is still there

[2021-11-12 19:26] AbhinavMV commented on #123
Reason for issue - image size improper
Fix already done and merged in #125
Please check again and let me know if issue is still there.

[2021-11-12 19:29] vinzvinci commented on #123
I was thinking that I give the wrong size of the image. This issue isn't fixed yet

[2021-11-12 21:03] AbhinavMV commented on #123
Yes my mistake was looking for the bug in main page instead of creators/patrons page
Have fixed the bug and raised a PR #136
Let me know if there is any problems in it.
Thankyou

[2021-11-13 03:39] #123 closed

[2021-11-13 06:12] Kunal0007 commented on #106
Can I work on this issue?

[2021-11-13 10:10] AbhinavMV commented on #110
I would like to work this.
But before that may i know How should this look in smaller view(Mobile and tablet)?

[2021-11-13 10:12] vinzvinci commented on #110
CC @krishguptadev

[2021-11-13 10:42] krishguptadev commented on #106
Sure 😄

[2021-11-13 10:43] krishguptadev commented on #110
it should look exactly like the current design on desktop...

[2021-11-13 11:25] AbhinavMV commented on #110
I have changed it look like figma design in desktop view.
![image](https://user-images.githubusercontent.com/35369843/141638640-b82b8fde-6d52-4ee3-85be-f083cf60f0da.png)

But this is how it is in mobile view.
Could we connect over discord to get a better understanding for mobile view?
discord id - Blank07#8280
![image](https://user-images.githubusercontent.com/35369843/141639259-5885fe6b-a1c8-40ba

[2021-11-13 12:08] Kunal0007 commented on #106
Thanks

[2021-11-13 13:13] krishguptadev commented on #110
but every thing ain't centered on mobile 🤔

[2021-11-13 13:23] AbhinavMV commented on #110
Centered everything for mobile view. If this is ok can i create a PR ?

![image](https://user-images.githubusercontent.com/35369843/141645321-d8a2d6b2-0652-48a7-9f58-f57ff546e3e3.png)

[2021-11-13 13:32] vinzvinci commented on #110
yeah looks good

[2021-11-13 13:37] shuklaritvik06 commented on #110
LGTM ✨

[2021-11-13 15:42] #110 closed

[2021-11-14 07:55] AbhinavMV commented on #134
Any suggestions for this design?
![image](https://user-images.githubusercontent.com/35369843/141672552-8e522a4b-b0e7-4163-9029-2180a047ba43.png)
![image](https://user-images.githubusercontent.com/35369843/141672573-00f3f800-fc84-43be-80b6-8681bc1c10f8.png)

[2021-11-14 08:22] vinzvinci commented on #134
I think we can use that design, just remove so much white space in sub-navbar.

Hmm can u also remove that join now
![image](https://user-images.githubusercontent.com/73097560/141673379-d69746cb-7029-4773-96fe-cc6a6282524e.png)

[2021-11-14 08:24] vinzvinci commented on #134
![image](https://user-images.githubusercontent.com/73097560/141673499-f27fd74b-0d11-4e43-90e5-abce71121b36.png)
 can u also add dropdown arrow

[2021-11-14 09:39] AbhinavMV commented on #134
Removed spacing in subnavbar and added dropdown arrow.
![image](https://user-images.githubusercontent.com/35369843/141675640-995a18e6-64f4-494f-8ec8-2ba8100b4eb6.png)

Could you provide the links for the following to add them in subnavbar:
| Forum
| Builders Program
| FAQ
| Tutorials
| Documentation
| Code of Conduct

[2021-11-14 09:41] vinzvinci commented on #134
https://community.devprotocol.xyz/ = https://community.devprotocol.xyz/
Documentation: https://docs.devprotocol.xyz/
Code of Conduct: https://github.com/dev-protocol/community/blob/main/CODE_OF_CONDUCT.md
Tutorials = https://initto.devprotocol.xyz/

FAQ and Builders Program will be available soon

[2021-11-14 11:59] #134 closed

[2021-11-14 12:04] vinzvinci commented on #134
My mistake,

there's duplicate in desktop view @AbhinavMV
![image](https://user-images.githubusercontent.com/73097560/141680240-67744ce0-bf6e-4063-b61c-9a5ee43f79ae.png)

[2021-11-14 12:11] AbhinavMV commented on #134
Sorry about that forgot to add one tailwind class.
Do i need to create a new PR now?

[2021-11-14 12:12] vinzvinci commented on #134
yeah you can create one

[2021-11-14 13:35] vinzvinci commented on #124
It change again,

https://devprotocol.xyz/creators
https://devprotocol.xyz/patrons
https://devprotocol.xyz/developers

[2021-11-14 13:36] krishguptadev commented on #124
has the the .xyz version been pulled the latest commits?

[2021-11-14 13:39] vinzvinci commented on #124
There are no latest commits in the .xyz version.

All changes happen in this repo. Everything is fetched and merged in .xyz version https://github.com/dev-protocol/devprotocol.xyz/commits/main

[2021-11-14 13:51] krishguptadev commented on #124
it works on netlify host though

[2021-11-15 02:37] #106 closed

[2021-11-15 14:05] AbhinavMV commented on #87
I have made some changes in figma file for this.
How does this look ? -> https://www.figma.com/file/xlEJolc6UbPl4uGwMV8XFt/Dev-Protocol-design-(Copy)?node-id=0%3A1

[2021-11-15 14:18] AbhinavMV commented on #124
Looks alright to me as well. Did a side by side comparision
![image](https://user-images.githubusercontent.com/35369843/141797156-b5fb9ddb-c6dc-46d3-8219-c47dd3852f0b.png)
![image](https://user-images.githubusercontent.com/35369843/141797227-5afb4b83-0d12-4aac-a019-481d88411b77.png)

[2021-11-15 14:36] vinzvinci commented on #124
hmm not sure why it's

that's what I'm talking, so much white space and the buttons in the lower level which only half can be seen.

[2021-11-15 14:43] krishguptadev commented on #124
if the content in the para would be more, the height will be obviously more? 🤷

[2021-11-15 14:44] krishguptadev commented on #87
Let's just wait for @aggre's response before working on anything related to this 🙂

[2021-11-15 14:48] shuklaritvik06 commented on #87
Yes we should wait for his response :) as Vinz also commented above

[2021-11-15 14:54] AbhinavMV commented on #87
Sure 👍
(Never used figma before so was trying to understand it by doing something useful 😄)

[2021-11-15 14:56] shuklaritvik06 commented on #87
Great! Thanks for suggesting the changes! We appreciate it :)

[2021-11-15 15:43] vinzvinci commented on #87
I will mention aggre again

[2021-11-15 17:47] AbhinavMV commented on #131
Should this section look kind of like creator success stories?
![image](https://user-images.githubusercontent.com/35369843/141829354-1c18f0ca-3adb-4f5f-9f6d-c99473ea1ff7.png)

Or should this be like 4 cards ?
![image](https://user-images.githubusercontent.com/35369843/141829464-ab81061d-29a4-412a-b92f-73e678533cee.png)

[2021-11-15 17:58] MatteuSan commented on #131
@vinzvinci i won’t be working on this for the current version of the website. I suppose once the design system is out I’ll be able to

[2021-11-15 18:18] vinzvinci commented on #131
Image above

Nope

Image above

Yeah

[2021-11-15 18:19] vinzvinci commented on #131
Hmm. I'm not sure if aggre wants it, but let's wait for his chat on discord

[2021-11-16 00:32] vinzvinci commented on #87
Okay let's go for the dark mode @AbhinavMV, they like to have it

[2021-11-16 03:41] krishguptadev commented on #124
that would make it still not look alike ig. We could centre it vertically though.

[2021-11-16 13:51] ZaidKhan2002 opened #143 "[FEATURE] Set the navbar position fixed"
### Problem subject

Navbar

### Description

Navbar is not sticky at top in any of the pages.

### Expected behavior/contents

Navbar should be sticky so that user can navigate using Navbar rather then scrolling up.

### Actual behavior/contents

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-16 17:30] Panquesito7 commented on #143
Would you like to work on this, @ZaidKhan2002? 🙂

[2021-11-16 20:05] vinzvinci opened #144 "[FEATURE] Set the navbar position fixed"
### Detailed description

I want this navbar position fixed when the user scroll
![image](https://user-images.githubusercontent.com/73097560/142057509-c23825dd-d29a-4442-9eca-56016d4e239d.png)

### Context

It is better, so they can still visit the links in navbar when they scroll

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I a

[2021-11-16 20:09] vinzvinci commented on #144
Related issue #143

[2021-11-16 20:09] #144 closed

[2021-11-17 05:10] ZaidKhan2002 commented on #143
Yes I would like to work on this.

[2021-11-17 05:19] shuklaritvik06 commented on #143
Okay I am assigning you this issue, Here you go 🚀

[2021-11-17 08:13] aggre commented on #87
Thanks for the ping! I was receiving notifications from GitHub, but couldn't respond, sorry!

By the way, I agree with the dark mode! In addition, dynamic colors using media queries and custom properties also would be very nice.

[2021-11-17 08:23] vinzvinci commented on #87
Okay, want to be assign to this @AbhinavMV?

[2021-11-17 09:18] AbhinavMV commented on #87
sure @vinzvinci will give it a try.
Might need some help.

[2021-11-17 09:20] vinzvinci commented on #87
Raise PR so we can see the changes and let's see if we can suggest @AbhinavMV.

[2021-11-17 09:27] vinzvinci commented on #124
Someone want to take this issue?

[2021-11-18 04:06] #87 closed

[2021-11-18 05:28] vinzvinci commented on #87
We have current issues, please see the 3 pages in **overview**, the dark mode there is not quite good.

[2021-11-18 05:28] vinzvinci commented on #87
CC @AbhinavMV

[2021-11-18 05:41] vinzvinci commented on #143
The issue was taken, please see the other issue that you like to work on. This issue has been fixed

[2021-11-18 10:52] ZaidKhan2002 commented on #143
I was about to make PR regarding this issue it's okay. I will se another issue.

[2021-11-18 10:59] vinzvinci commented on #143
We currently need help in #131

[2021-11-18 11:17] ZaidKhan2002 commented on #131
@vinzvinci can you check this https://kitwind.io/products/kometa/components it has some better options rather than above cards.

[2021-11-18 11:17] ZaidKhan2002 commented on #143
Sure!!

[2021-11-18 11:19] vinzvinci commented on #131
https://kitwind.io/products/kometa/components/features I like this, but is this open source?

[2021-11-18 11:28] AbhinavMV commented on #131
this can be achieved just using tailwind right ?

[2021-11-18 11:30] AbhinavMV commented on #87
is

is the dark mode deployed on the official website? 🤔
i am not able to see it.

[2021-11-18 11:32] vinzvinci commented on #87
Check: https://devprotocol.netlify.app/

[2021-11-18 11:33] vinzvinci commented on #131
yeah

[2021-11-18 11:34] vinzvinci commented on #131
If u find something here, that'll be useful https://tailwindui.com/

[2021-11-18 11:39] AbhinavMV commented on #87
will fix it and raise a PR.
(i did not expect the earlier PR to be merged this soon. i was waiting for more suggestions.)

[2021-11-18 11:41] AbhinavMV commented on #131
with tailwind we would be able to make most of card design.
but i was thinking there might be more dapps added in the future right so this section would keep on increasing.
so how about we make this section into a card carousel?

[2021-11-18 11:43] shuklaritvik06 commented on #131
Yep I think this will look good

[2021-11-18 13:29] AbhinavMV commented on #87
![image](https://user-images.githubusercontent.com/35369843/142424042-4623aa79-e4c6-4ac2-8e40-b1ef097fc2db.png)
Just found out that devprotocol docs uses this color for dark mode
@vinzvinci  Do you want me to use this for background color? (For consistency across websites)

[2021-11-18 14:21] vinzvinci commented on #87
Hmm, I'm not sure if it will look good on this website 🤔 What do u folks think @Panquesito7 @shuklaritvik06 @krishguptadev

[2021-11-18 14:31] ZaidKhan2002 commented on #131
Yes we can go with that.

[2021-11-18 14:34] vinzvinci commented on #131
Okay cool, can u start that @ZaidKhan2002 ?

[2021-11-18 15:05] ZaidKhan2002 commented on #131
@AbhinavMV would you like to work upon this or should I start

[2021-11-18 15:06] #143 closed

[2021-11-18 15:07] AbhinavMV commented on #131
You can start @ZaidKhan2002

[2021-11-18 15:12] Panquesito7 opened #148 "[FEATURE] Add links to the team's GitHub profiles"
### Detailed description

For those who have a GitHub profile and work in Dev Protocol, we might want to add a link to their profile.

### Context

This is useful so you can actually know who they actually are at GitHub, the work they do, etc..

### Possible implementation

Add a link to the team's respective GitHub profiles.

### Additional information

I'd like to work on this!

### Code of Cond

[2021-11-18 15:28] ZaidKhan2002 commented on #131
Sure!!

[2021-11-18 15:45] krishguptadev commented on #87
it would be nice to use the same theme! 😄

[2021-11-18 15:46] vinzvinci commented on #87
Does the theme fit the website @AbhinavMV? If yeah, let's use the same theme

[2021-11-18 15:47] shuklaritvik06 commented on #87
Hmm true 😄

[2021-11-18 16:52] Panquesito7 commented on #148
Looks like this is already implemented 👀 Closing.
Will add a link to their profile photos, though.

[2021-11-18 16:52] #148 closed

[2021-11-19 11:04] ZaidKhan2002 commented on #131
I made 3 cards and inserted all the details but I am unable to make slider/carousel as it will be in vue and I am not familiar with it. My apologies.

[2021-11-19 11:05] ZaidKhan2002 commented on #131
Also I did try this also.

[2021-11-19 11:45] vinzvinci commented on #131
Our final decision is to add a card carousel @ZaidKhan2002 and not the kometa. Can u still take this issue?

[2021-11-19 11:50] krishguptadev commented on #131
np, just make the cards... I can try implementing the slider feature 🙂

[2021-11-19 11:57] AbhinavMV commented on #131
Maybe we can use this package? -> vue3-carousel
https://github.com/ismail9k/vue3-carousel

[2021-11-19 11:58] krishguptadev commented on #131
@ZaidKhan2002 can you see this once? 🤔

[2021-11-19 14:02] ZaidKhan2002 commented on #131
@vinzvinci I am unable to do this. Can you assign this to someone.

[2021-11-19 14:43] AbhinavMV commented on #131
@krishguptadev if you are not working on this then i would like to 😄

[2021-11-19 14:48] krishguptadev commented on #131
I was thinking to work but sure! All over to you!

[2021-11-19 14:49] AbhinavMV commented on #131
Thankyou 😄

[2021-11-19 18:18] AbhinavMV opened #152 "[BUG] Image not showing properly in mobile view"
### Problem subject

Other: Image orientation issue

### Description

Top of the image is cut off in mobile view For the following pages
Creators
Developers
Patrons
Screenshot:
![image](https://user-images.githubusercontent.com/35369843/142671853-cb13304e-baa0-4bac-934d-ea0eef6535f3.png)

### Expected behavior/contents

Full Image should be visible

### Actual behavior/contents

Image Cut off from

[2021-11-19 18:27] #131 closed

[2021-11-19 18:28] vinzvinci commented on #152
Thanks for reporting that bug. Are u gonna take this issue?

[2021-11-19 18:29] AbhinavMV commented on #152
Sure will fix it now 👍

[2021-11-19 18:30] vinzvinci commented on #152
Awesome, thank you 🎉

[2021-11-19 18:38] vinzvinci opened #153 "[FEATURE] Add FAQ page"
### Detailed description

Hey folks,

I'm proposing to add the FAQ page with 10 prepared questions and answer using Lorem ipsum 😄 Just don't link the FAQ in the navbar for now

![image](https://user-images.githubusercontent.com/73097560/142673896-914ea01d-5b8f-4c5d-b117-d6e9223d4f70.png)

We are using TailwindUI and we have a subscription to it, so don't be bothered to use it on our site.

### Con

[2021-11-19 18:51] #152 closed

[2021-11-19 19:05] Panquesito7 commented on #153
Count me in! Let me know if you need any help writing the questions. 🙂

[2021-11-19 19:08] vinzvinci commented on #153
Sure @Panquesito7.

[2021-11-20 04:05] krishguptadev commented on #153
Is this gonna be a new page or just a section to another?

[2021-11-20 07:20] vinzvinci commented on #153
New page, because it will be long. I think they are preparing 30 questions and answers.

[2021-11-20 07:48] krishguptadev commented on #153
Ah I see. Waiting for someone to grab this in the next 12 hours, else assign me

[2021-11-20 15:52] vinzvinci commented on #153
Sure @krishguptadev 🚀

[2021-11-21 01:59] Panquesito7 commented on #153
Maybe let's wait a week or a few days instead? 😅

[2021-11-21 03:20] krishguptadev commented on #153
Sure!

[2021-11-21 14:03] vinzvinci commented on #153
This was open 2 days ago, how about let's wait until Wednesday?

[2021-11-21 14:20] krishguptadev commented on #153
Just ping me whenever you think 😄

[2021-11-22 22:25] vinzvinci opened #156 "[FEATURE] Add Community Partners page"
### Detailed description

Another page for Dev Protocol community partners

here's the community partners
![image](https://user-images.githubusercontent.com/73097560/142944002-4483a6ce-208a-432c-9260-300c6991ef5a.png)

### Context

This is one of the most important page in this website

### Possible implementation

I think better use cards for this, u can get some ideas here: https://tailwindui.co

[2021-11-23 00:54] krishguptadev commented on #156
I would love to work it 😄

[2021-11-23 01:05] vinzvinci commented on #156
Sure, thanks 🎉

[2021-11-23 07:45] krishguptadev commented on #156
I would like details for the partners to add them all 😄

I need Name, Image URL, Description and Link, which will be compiled to

[code]

[2021-11-23 14:45] vinzvinci commented on #156
Thanks, I will ask this to mayu

[2021-11-23 14:55] AbhinavMV commented on #153
if no one is working on this i can 😄

[2021-11-23 14:56] vinzvinci commented on #153
I think u can take this issue @AbhinavMV, Krish is working on 2 issues and recently make PR and it's not done yet.

[2021-11-23 14:59] vinzvinci commented on #153
Can u put english and japanese version @AbhinavMV? The FAQ has English and Japanese

[2021-11-23 15:02] AbhinavMV commented on #153
I will try once and let you know.
Right now i will fill it with random data (Both english and japanese).

[2021-11-24 03:58] vinzvinci opened #160 "[FEATURE] Add Testimonials in creator page"
### Detailed description

Hey folks! Another green square 🎉

Let's add testimonials to the [creators](https://devprotocol.xyz/creators) page

### Context

This is very important to know the creators experience within the Dev Protocol

### Possible implementation

I suggest to use this
https://tailwindui.com/components/marketing/sections/testimonials#component-54ee9cbce13afa3082f12b00ff1c00a6
![ima

[2021-11-24 04:05] Panquesito7 commented on #160
For anyone who's working or will work on this: I'd love to help in anything! 😄

[2021-11-24 05:15] vinzvinci commented on #156
Please add this:

Microsoft for Startups
https://devprotocol.xyz/assets/msstartups.png
https://www.microsoft.com/ja-jp/biz/startups/default.aspx

Description:
We provide entrepreneurs and founders of startups with the cloud resources and mentoring they need in their journey from idea to exit

[2021-11-24 05:43] krishguptadev commented on #160
Hey! Made PR, #161. Please add your valuable reviews.

[2021-11-24 05:57] krishguptadev commented on #156
Hmm, the logo doesn't fit for a circle. also, I need a logo for m-zomia. (a circular one)

[2021-11-24 07:19] vinzvinci commented on #156
Please check team-web3 discord channel for m-zomia logo

I'm not good editor but I tried to edit the logo of Microsoft for Startups, will this work?
![msstartups](https://user-images.githubusercontent.com/73097560/143192555-92a62ed6-06f3-405c-94b1-99afe264fa31.png)

[2021-11-24 07:29] krishguptadev commented on #156
this is even worse 🙄

[2021-11-24 07:30] vinzvinci commented on #156
xD, please try to make solutions.

[2021-11-24 18:46] AbhinavMV commented on #156
Maybe you can take just the rocket part for the logo and crop the text.
In current PR cards are used right. So the text will be will be displayed as title of the card.
This can be done for other logos as well showing text in both title and logo seems redundant.

[2021-11-25 04:58] aggre opened #162 "[FEATURE] Renew brand logo"
### Detailed description

The brand logo does not have the "Dev Protocol" notation and users cannot see the Dev Protocol name in the first view.

I suggest changing to a logo image with typography to recognize the brand in the first view.

- logo--black.png ![logo--black](https://user-images.githubusercontent.com/1970283/143381473-355efd2c-231d-4f2b-807b-13169e85d6d4.png)
- logo--white.png ![logo-

[2021-11-25 05:43] #160 closed

[2021-11-25 20:42] #153 closed

[2021-11-29 03:49] yumemayu commented on #156
Can I add a new partnership information here? 🙂

[code]

[2021-11-30 05:32] #156 closed

[2021-11-30 06:32] Simperfy opened #167 "[BUG] Poor readability in backers section when using dark mode"
### Problem subject

Other: Poor readability due to lack of contrast in backers section.

### Description

The word "*Backed By*" lacks contrast with the background which results in poor readability when using dark mode.

![image](https://user-images.githubusercontent.com/28738855/143995563-f7e8be4c-07df-4b24-bc6c-0743480b0507.png)

Result from [contrast checker](https://webaim.org/resources/contr

[2021-11-30 10:56] #167 closed

[2021-11-30 15:52] Simperfy opened #169 "[BUG] Missing title in community partners page"
### Problem subject

Other: Missing title text in html

### Description

The title is missing from [community partners page](https://devprotocol.xyz/community-partners).

Screenshot:
![image](https://user-images.githubusercontent.com/28738855/144080252-97802c85-6b53-47c9-9ebd-fdb64188f4c2.png)

Browser: Brave browser *(v1.32.113)*
OS: Ubuntu 20.04

### Expected behavior/contents

Title should be p

[2021-11-30 16:06] #169 closed

[2021-12-01 01:01] yumemayu opened #173 "[OTHER] Add a new community partners"
### What would you like to share?

URL: https://github.com/intlify
Logo: https://github.com/intlify/art
Description: Intlify is a project that aims to improve Developer Experience in software internationalization. We will aim to improve the Developer Experience of internationalization by providing libraries, frameworks, and tools that break down barriers to internationalization.

Can you choose a

[2021-12-01 02:16] vinzvinci commented on #173
link: https://intlify.dev/ - I put their website

Panquesito7 suggested it and I think it's good.

[2021-12-01 03:15] #173 closed

[2021-12-01 04:29] #162 closed

[2021-12-02 08:50] vinzvinci opened #176 "[FEATURE] Divide the FAQ for each category"
### Detailed description

Divide the FAQ and put them in their category.

You will see the FAQ and categories here 👇
https://docs.google.com/spreadsheets/d/1VyrRce4qvh2b6rNmbO4QmquQt0eN3_gsAoNhbxWU-jI/edit#gid=0

### Context

I think this makes the page clean, currently, the FAQ page is messed for me https://devprotocol.xyz/faq

### Possible implementation

Make something like this if possible 👉 h

[2021-12-02 08:54] Simperfy commented on #176
Awesome, can I do this one?

[2021-12-02 08:55] vinzvinci commented on #176
Yeah sure @Simperfy 🚀

[2021-12-02 08:55] Simperfy commented on #176
Nice ❤️

[2021-12-02 16:31] Simperfy opened #178 "[BUG] Community partners page being cut off when in mobile view"
### Problem subject

- Other: mobile view styling issue

### Description

Title in community partners page being cut off when in mobile view.
![image](https://user-images.githubusercontent.com/28738855/144462585-a8802998-25dc-4f64-85ae-3e4e7abc4921.png)

### Expected behavior/contents

It should not cut off the title when in mobile view.

### Actual behavior/contents

The title is being cut off wh

[2021-12-02 17:12] AbhinavMV opened #179 "[BUG] Navbar icons position changes in mobile view"
### Problem subject

- [x] Other - UI

### Description

Toggle Button and Hamburger Button goes to next line in mobile view

Screenshot:
![image](https://user-images.githubusercontent.com/35369843/144469925-433b4ccc-c3be-4492-864f-7207bd4966d8.png)

### Expected behavior/contents

Icons should be placed at right side

### Actual behavior/contents

_No response_

### Code of Conduct

- [X] I agree

[2021-12-03 03:04] Simperfy commented on #178
Yeah, sure. 👍🏻

[2021-12-03 04:08] #178 closed

[2021-12-03 04:21] #176 closed

[2021-12-03 05:40] vinzvinci opened #182 "[FEATURE] Reorder the Q&A"
### Detailed description

### For Everyone
1. What is the Dev Protocol?
2. What is the mission and vision of Dev Protocol?
3. What is the way for buying DEV token?
4. What is a DEV token and what its benefits?
5. Where can I use my DEV token?
6. Where can I find the Dev Protocol roadmap?
7. Is the DEV token a security?

### For Creators
1. How can creators make money with Dev Protocol?
2. How to u

[2021-12-03 06:20] Simperfy commented on #182
Can I do this?

[2021-12-03 06:23] vinzvinci commented on #182
Yes yes @Simperfy

[2021-12-03 07:06] #182 closed

[2021-12-03 11:15] Simperfy commented on #179
Would like to work on this one.

[2021-12-03 13:28] #179 closed

[2021-12-03 18:22] AbhinavMV opened #185 "[FEATURE]: Changing Translate button on FAQ page"
### Detailed description

On FAQ the translate button reads - "Translate to English", even though the current translation is English.

### Context

The current button does not make much sense.
Changing this to the following format might be helpful.
Language: <Dropdown>

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to foll

[2021-12-04 00:16] #185 closed

[2021-12-07 10:37] vinzvinci opened #187 "[FEATURE] Update & Add button to apply for community partners"
### Detailed description

Can this text move upward?

![image](https://user-images.githubusercontent.com/73097560/145012532-ec1a048f-5ed5-45ef-b24b-2e09d8ea4fab.png)

~~-~~
We will add a button for: **Become a community partner**

I'm not sure if it will look good to put it in this section
![image](https://user-images.githubusercontent.com/73097560/145013725-052088e9-a584-4cb4-8a25-580db8cdbf8c.pn

[2021-12-07 11:58] Simperfy commented on #187
I think it will look better if it's move upwards.
![image](https://user-images.githubusercontent.com/28738855/145025050-651af30a-5e7e-41f6-80ec-36ad84e4b4f4.png)

So that it is consistent with the other page.
![image](https://user-images.githubusercontent.com/28738855/145025132-bcaf830e-a0fa-4ee6-b4e8-8bdcdf8684e5.png)

[2021-12-07 12:18] vinzvinci commented on #187
Hmm yeah, thanks. Would u like to take this issue?

[2021-12-07 17:43] Panquesito7 commented on #187
https://github.com/web3community/devprotocol.xyz/pull/188#discussion_r764227207

[2021-12-08 05:48] vinzvinci opened #189 "[FEATURE] Add about page, transfer team section and include to overview"
### Detailed description

# About

## What is the mission and vision of Dev Protocol

The mission of Dev Protocol is to maximize creativity for every creator in the world, using the power of Blockchain and Decentralized Financial mechanism to enable creators to capitalize on their projects and achieve financial success, regardless of the size of the project.

## Where does the Dev Protocol idea co

[2021-12-09 10:00] AbhinavMV commented on #187
On the Community Partners page,
How about changing the card's background color to purple(in dark mode) and grey(in light mode), so all pages look similar?
Also in mobile, reduce left and right margin as well
Thoughts? 🤔 @web3community/core-maintainer

[2021-12-09 10:15] krishguptadev commented on #187
Looks good to me.

[2021-12-09 10:16] Simperfy commented on #187
I'll look into it.

[2021-12-09 12:35] AbhinavMV commented on #189
i can work on this 😄
(if no one is already working on this)

[2021-12-09 12:38] vinzvinci commented on #189
Feel free to work on this issue @AbhinavMV

[2021-12-10 03:12] #187 closed

[2021-12-10 03:14] #189 closed

[2021-12-14 08:59] vinzvinci opened #194 "[FEATURE] Add community partners form"
### Detailed description

This was discuss on this PR https://github.com/web3community/devprotocol.xyz/pull/188#discussion_r765469316

Use this: https://tailwindui.com/components/marketing/sections/contact-sections#component-dec976a631662b509173ba8b848c49cd

### Context

It will allow our future partners to apply easily

### Possible implementation

The fields information will be

Founder Name
Com

[2021-12-14 15:48] Panquesito7 commented on #194
Should we ask if they have a Discord community/user, as well as their invitation link?

[2021-12-14 15:56] vinzvinci commented on #194
No, it should be on their website.

[2021-12-16 12:08] Simperfy opened #196 "[BUG] Button overflow in Community Partners page"
### Problem subject

- [x] Other - UI

### Description

The button's parent element is taking full width and overflowing in community partners page which causes the button to be clickable on it's left and right side.

![a](https://user-images.githubusercontent.com/28738855/146368438-21495fe1-1a55-4d59-98b6-cc0e2665aeec.png)

### Expected behavior/contents

The button should only be clickable withi

[2021-12-16 12:14] #196 closed

[2021-12-16 12:18] Simperfy commented on #194
After submitting the form, where are we going to save the data?

[2021-12-16 12:21] vinzvinci commented on #194
Hmm airtable or google sheets 🤔

[2021-12-16 12:45] Simperfy commented on #194
If we are going to store it in google sheets, who is going to provide the google sheets API key?

[2021-12-16 13:13] vinzvinci commented on #194
I can provide @Simperfy

[2021-12-16 17:27] Simperfy commented on #194
If that's the case I can work on this one.

[2021-12-18 17:06] Simperfy opened #198 "[BUG] .env files not working on current version of astro"
### Problem subject

- [x] Other - `.env` not working

### Description

I followed the official [guide](https://docs.astro.build/guides/environment-variables/) on using `.env` variables of astro but found that it wasn't working as written in the docs, the `import.meta.env` variables are always empty. Also tried using `process.env` but the variables I need wasn't there.

Here's an example with our

[2021-12-18 17:09] Simperfy commented on #194
@vinzvinci  What will be the values in this section?

![image](https://user-images.githubusercontent.com/28738855/146649667-3ba71816-284b-4d79-b9ea-96f67ca45dd7.png)

[2021-12-18 17:21] vinzvinci commented on #194
remove the number, we don't have any telephone number :D

Hmm about the text below contact:

For more information, please reach out to our support team.

[2021-12-23 02:03] #194 closed

[2021-12-23 02:03] #198 closed

[2021-12-23 02:11] vinzvinci commented on #120
I'm thinking of having support system just like GitHub Support.

[2021-12-24 05:56] krshkun opened #203 "[BUG] Convert all vue file to vite"
### Problem subject

_No response_

### Description

Astro's new update uses vite instead vue, breaking some of our vue components

### Expected behavior/contents

-

### Actual behavior/contents

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-22 15:46] MatteuSan opened #206 "[FEATURE] Use Dev Protocol's Hashi Design System"
### Detailed description

Use Dev Protocol's new [Hashi Design System](https://github.com/dev-protocol/hashi-web).

### Context

For the platform's consistency's sake, I think we should implement the Hashi Design System to the main website. The system includes design tokens to be used, and the smaller, more primitive components such as buttons, cards, text fields, select fields, etc.

For the larg

[2022-01-24 03:29] vinzvinci commented on #206
Cool, will u able to work on this? Or I'll call someone to help?

[2022-01-24 03:32] MatteuSan commented on #206
I don't know if I can work on this since I need to do some prep work for irl stuff (mostly school related). I can probably help if the devs have questions, but for the most part the [documentation](https://hashi-docs.netlify.app) is already ready.

[2022-01-24 03:38] vinzvinci commented on #206
Okay. Pinging @AbhinavMV 😁

[2022-01-24 04:07] AbhinavMV commented on #206
I will try to do it 😄👍

[2022-01-24 04:08] vinzvinci commented on #206
Cool

[2022-03-17 09:05] vinzvinci opened #209 "[FEATURE] Create support page"
### Detailed description

Suggested idea on https://trello.com/c/NDxD6XZg/70-documentation-for-a-bug-report

### Context

It can help Dev Protocol followers to report their concern

### Possible implementation

Idea and it can be copy design: https://tailwindui.com/components/marketing/sections/header#component-547517d4dc48e1bf0ccab051ebb0dcba

### Additional information

if you have suggestions,

[2022-03-17 11:55] Simperfy commented on #209
Is there a mockup for this?

[2022-03-17 12:14] vinzvinci commented on #209
will try to do it on figma, I'll ping you once it's done

[2022-03-19 15:53] vinzvinci opened #210 "[OTHER] Fix the MS Logo"
### What would you like to share?

Can anyone fix this logo, doesn't look good

![image](https://user-images.githubusercontent.com/73097560/159128314-361def91-542e-4993-b44a-1607bbeb39f6.png)

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-23 18:07] vinzvinci commented on #209
Can't edit well. I think u can continue this, let me handle the content, you can use the content there
![image](https://user-images.githubusercontent.com/73097560/159766760-90e2b1d1-0a46-48f7-8ff7-068775c15ee9.png)

[2022-03-26 07:11] vinzvinci commented on #206
bot ping us 👁️ , what's up with this?

[2022-04-06 22:41] Panquesito7 opened #214 "[BUG] FAQ page is unstructured"
### Problem subject

- [x] Other: Bug report.

### Description

The FAQ page in Dev Protocol is unstructured and looks bad. It should be fixed immediately.

![image](https://user-images.githubusercontent.com/51391473/162084338-7c449860-6552-4a70-8740-4c67e747b253.png)

### Expected behavior/contents

The FAQ page should be fixed to be structured and look fine.

### Actual behavior/contents

The FA

[2022-05-22 11:06] #214 closed

[2022-05-26 02:18] aggre opened #216 "[FEATURE] Stats page for community/protocol"
### Detailed description

I suggest adding a stats page to the website to visualize protocol and community activity.

@CryptoDogg and @vinzvinci have already created several data sources, and charts can be placed based on them using [Chart.js](https://www.chartjs.org/), etc.

**Dev Protocol stats**
- Total locked amount (L1+Arbitrum+Polygon... the sum of all networks): Subgraphs = https://github.c

[2022-05-26 02:28] CryptoDogg commented on #216
The number of proeprty tokens is included in the same subgraph https://github.com/dev-protocol/dev-protocol-subgraphs/tree/main/subgraphs/staking-amount-{l1 or l2}

[2022-05-26 05:55] vinzvinci commented on #216
Hi aggre, not all repositories but specific repositories only. Let me see if we can add all repositories for community stats.

[2022-05-27 03:16] #210 closed

[2022-06-01 01:22] aggre commented on #216
yes, it's of course no problem! we can done it step-by-step

[2022-06-02 03:30] #206 closed

[2022-06-13 02:23] aggre commented on #216
I have created this mock, as a first version of Stats page:
<img width="1152" alt="Mock_ Stats" src="https://user-images.githubusercontent.com/1970283/173268133-d88b1c62-0619-461c-ac7a-ed039a599294.png">

I think, the community stats are can be included next update.

---

BTW: the `See community activities on Discord` button is expected will be replaced with Forem or something

[2022-06-13 03:55] vinzvinci commented on #216
If it will be replaced by Forem, summary of discussion will be there? Just found this shared by mayu https://dev.to/devteam/a-new-community-space-for-open-source-maintainers-and-contributors-32p3

[2022-06-13 08:10] aggre commented on #216
Yes, I'm thinking that in the future, summaries of updates will be consolidated in a casual forum like Forem.

[2022-06-13 08:24] aggre commented on #216
I've deployed TheGraph's Subgraphs for Mainnet, Arbitrum, and Polygon, so the query for the total locked amount is available. The following code is an example for the mainnet. And with changing the value of `skip`, its pagination is available.

[code]

And the following endpoints are also available:
- Arbitrum: https://api.thegraph.com/subgraphs/name/aggre/devprotocol-arbitrum-one
- Polygon: https

[2022-06-13 12:12] aggre commented on #216
Here are the completed sample codes for graphing the TVL!

https://jsfiddle.net/aggre/kn9vyrsx/

[2022-06-20 08:06] osaguild commented on #216
Hi. I am trying this issue. It is a WIP but I have a few questions. [This is my PR](https://github.com/WebXDAO/devprotocol.xyz/pull/217)
- Adding the total minted DAO token chart takes time. How about making MVP only total locked dev amount.
- The process of getting stats info takes a long time. So I think using scheduled github actions and create the data in a repository is better. If you create

[2022-06-20 11:18] aggre commented on #216
@osaguild Great PR!

You can get the data for the total number of minted DAO tokens by replacing `totalStakedAmounts` in the query with `totalAuthenticatedProperties`. FYI, you can test that query here: https://thegraph.com/hosted-service/subgraph/dev-protocol/polygon-v2 (i.g., Polygon)

[2022-06-20 11:24] aggre commented on #216
@vinzvinci I know you have been developed a community stats page, can I see their contents in this remote repository?

[2022-06-20 12:28] osaguild commented on #216
@aggre Thanks for query info! I will try and update PR.

[2022-06-21 05:23] vinzvinci commented on #216
Hi aggre, currently this is how it looks, The free trial on airtable was expired so can't use them. I only use mini extensions to create this chart and can be embedded anywhere.
![image](https://user-images.githubusercontent.com/73097560/174722107-67bf11dc-58d5-4d77-b847-b83e09414142.png)

[2022-06-21 05:49] vinzvinci commented on #216
Actually, after knowing dework, I'm finding how we can make a graph there and embed it on the website.

Generalize contributors, not just developers but all community https://app.dework.xyz/devprotocol/contributors

[2022-07-22 09:22] mkubdev commented on #90
HI, the plugin is working like a charm now: https://github.com/withastro/prettier-plugin-astro

[2022-08-28 03:40] #216 closed

[2022-09-13 22:40] Panquesito7 opened #220 "[BUG] Style makes other pages look strange"
### Problem subject

_No response_

### Description

Seems like the new website's style makes other pages look strange, such as the Community Partners form.

![image](https://user-images.githubusercontent.com/51391473/190021707-2ab90125-a00b-49df-b921-9f98ad888767.png)

### Expected behavior/contents

The input and other parts of the website should look accordingly to the style.

### Actual behavi

[2022-09-21 08:21] #220 closed

[2022-09-22 01:15] osaguild opened #223 "[BUG] stats page doesn't display chart"
### Problem subject

chart doesn't work on [stats page](https://devprotocol-bjfzuo6g8-devprtcl.vercel.app/stats). image is below.
![image](https://user-images.githubusercontent.com/33506754/191635465-61a465c9-7333-4aa7-ab80-2edd4c564509.png)

### Description

In order to render a chart using d3.js, client rendering is specified for the chart component. like this `<Chart client:load />.`. But Astro

[2022-09-23 15:51] Panquesito7 opened #225 "[OTHER] Does this page use the latest NodeJS version?"
### What would you like to share?

The readme states the latest NodeJS version.
Is the latest NodeJS version actually compatible with this page or is it a specific NodeJS version?

Thank you.

### Additional information

_No response_

### Would you like to work on this issue?

- [ ] Yes, I want to work on this issue!

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-01 05:11] #225 closed

[2022-10-12 06:37] #223 closed

[2022-11-01 03:56] #203 closed

[2022-11-06 03:14] #120 closed